* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgb(105, 105, 105));
    padding: 0.5rem 2rem;
    color: white;

    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 50px;
}

.logo a {
    display: contents;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 25px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 100px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.links a:hover {
    color: grey;
}

.links {
    position: relative;
    display: flex;
    align-items: center;
}

.links details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links summary {
    display: flex;
    align-items: center;
    text-align: center;

    padding: 7px 20px;
    border-radius: 12px;
    gap: 10px;

    list-style: none;
    cursor: pointer;

    font-weight: bold;
    user-select: none;

    outline: 2px solid white;
    background-color: transparent;
    color: white;

    transition: background-color 0.3s ease;
}

.links summary:hover {
    background-color: white;
    color: black;
}

.content {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;

    top: 130%;
    transform: translate(-50%);

    min-width: 150px;
    padding: 15px 0px;
    gap: 10px;

    list-style: none;
    border-radius: 10px;

    box-shadow: 0px 0px 10px black;

    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgba(105, 105, 105, 0.5));
}

.content a {
    cursor: pointer;
    display: block;
    padding: 7px;

    font-weight: bold;

    background-color: transparent;
    color: white;
}

.content a:hover {
    background-color: white;
    color: black;
}