* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: linear-gradient(135deg, black, rgb(100, 100, 100));
    padding: 0.5rem 2rem;
    color: white;

    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 50px;
}

.logo a {
    display: contents;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 25px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 100px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.links a:hover {
    color: grey;
}

.links {
    position: relative;
    display: flex;
    align-items: center;
}

.links details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links summary {
    list-style: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 7px;
    outline: 2px solid white;
    border-radius: 12px;
    font-weight: bold;
    user-select: none;
    transition: background-color 0.3s ease;
}

.links summary:hover {
    background-color: white;
    color: black;
}

.content {
    position: absolute;
    text-align: center;
    min-width: 150px;
    padding: 15px;
    background-color: black;
}

.content a {
    cursor: pointer;
    background-color: white;
    color: black;
}