* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

body {
    display: flex;
    flex-direction: column;
}