* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #242424;
}

body > .divider {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.hero-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --bg-image: url(assets/images/mindwave/1.webp);
}

.hero-logo::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.5);
    
    transition: background-image 1.3s ease-out;

    z-index: -1;
}

#about {
    display: flex;
    margin: 0 auto;
}

#about > .text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 500px;

    background-image: linear-gradient(90deg, rgb(35, 35, 35), transparent);
}

#about > .text::before {
    content: "";
    position: absolute;
    margin: 10px;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;

    background-image: url(assets/images/about.webp);
    background-position: center;

    filter: brightness(0.6) blur(5px);
}

#about > .text > div {
    display: flex;
    flex-direction: column;
    width: 55%;
    font-size: 22px;

    margin: 60px;
    gap: 20px;
    
    color: white;
}

@media (max-width: 780px) {
    .hero-logo {
        height: 700px;
    }

    .hero-logo img {
        width: 320px;
    }

    #about > .text {
        height: 700px;
    }

    #about > .text::before {
        background-position: 80%;
    }

    #about > .text > div {
        width: 90%;
        margin: 0 auto;
        gap: 50px;
    }

    #about > .text h1 {
        font-size: 55px;
        text-align: center;
    }

    #about > .text p {
        font-size: 21px;
        text-align: center;
    }
}