* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #282830;
}

body > .divider {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.hero-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    --bg-image: url(assets/images/mindwave/1.jpg);
}
.hero-logo::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.5);
    
    transition: background-image 1.3s ease-out;

    z-index: -1;
}

#about {
    display: flex;
    margin: 0 auto;

    width: 90%;
    gap: 20px;
}

#about > .text {
    background-color: white;
}

#about > img {
    width: 500px;

}