#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgb(105, 105, 105));
    padding: 0.5rem 2rem;
    color: white;

    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
}

#navbar .logo {
    display: flex;
    gap: 35px;
}

#navbar .logo a {
    display: flex;
    align-items: center;
    
    color: white;
    text-decoration: none;
    gap: 40px;
}

#navbar .nav-links {
    display: flex;
    justify-items: flex-end;
    list-style: none;
    gap: 70px;
}

#navbar .links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#navbar .links a:hover {
    color: grey;
}

#navbar .links {
    flex: 1;
    display: flex;
    position: relative;
}

#navbar .links details {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#navbar .links > a,
#navbar .links summary {
    flex: 1;
    display: flex;
    align-items: center;
    vertical-align: middle;

    padding: 7px 10px;
    border-radius: 12px;
    gap: 10px;

    list-style: none;
    cursor: pointer;

    font-weight: bold;
    user-select: none;

    outline: 2px solid white;
    background-color: transparent;
    color: white;

    transition: background-color 0.3s ease;
}

#navbar .links > a:hover,
#navbar .links details[open] summary,
#navbar .links summary:hover {
    background-color: white;
    color: black;
}

#navbar .links details[open] summary img,
#navbar .links summary:hover img {
    filter: brightness(0.0);
}

#navbar .content {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;

    top: 130%;
    transform: translateX(-50%);

    min-width: 150px;
    padding: 15px 0px;
    gap: 10px;

    list-style: none;
    border-radius: 10px;

    box-shadow: 0px 0px 10px black;
    
    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgba(105, 105, 105, 0.5));
}

#navbar .content a {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 7px;
    z-index: 1;

    font-weight: bold;

    background-color: transparent;
    color: white;
}

#navbar .content a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

#navbar .content a:hover {
    color: black;
}

#navbar .content a:hover::before {
    transform: scale(1);
}

@media (max-width: 1024px) {
    #navbar .nav-links {
        gap: 10px;
    }
}

@media (max-width: 780px) {
    #navbar {
        display: flex;
        justify-content: flex-start;
    }

    #navbar .logo a {
        display: flex;
        width: 100%;
    }
    #navbar .nav-links {
        display: none;
    }
}