#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgb(105, 105, 105));
    padding: 0.5rem 2rem;
    color: white;

    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
}

#navbar .logo {
    display: flex;
    gap: 35px;
}

#navbar .logo a {
    display: flex;
    align-items: center;
    
    color: white;
    text-decoration: none;
    gap: 40px;
}

#navbar .nav-links {
    display: flex;
    justify-items: flex-end;
    list-style: none;
    gap: 70px;
}

#navbar .links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#navbar .links a:hover {
    color: grey;
}

#navbar .links {
    flex: 1;
    display: flex;
    position: relative;
}

#navbar .links details {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#navbar .links > a,
#navbar .links summary {
    flex: 1;
    display: flex;
    align-items: center;
    vertical-align: middle;

    padding: 7px 10px;
    border-radius: 12px;
    gap: 10px;

    list-style: none;
    cursor: pointer;

    font-weight: bold;
    user-select: none;

    outline: 2px solid white;
    background-color: transparent;
    color: white;

    transition: background-color 0.3s ease;
}

#navbar .links > a:hover,
#navbar .links details[open] summary,
#navbar .links summary:hover {
    background-color: white;
    color: black;
}

#navbar .links details[open] summary img,
#navbar .links summary:hover img {
    filter: brightness(0.0);
}

#navbar .links .content {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;

    top: 130%;
    transform: translateX(-50%);

    min-width: 150px;
    padding: 15px 0px;
    gap: 10px;

    list-style: none;
    border-radius: 10px;

    box-shadow: 0px 0px 10px black;
    
    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgba(105, 105, 105, 0.5));
}

#navbar .links .content a {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 7px;
    z-index: 1;

    font-weight: bold;

    background-color: transparent;
    color: white;
}

#navbar .links .content a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    z-index: -1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

#navbar .links .content a:hover {
    color: black;
}

#navbar .links .content a:hover::before {
    transform: scale(1);
}

#navbar .menu-toggle {
    display: none;

    align-items: center;
    right: 0;
    background-color: transparent;
    border: none;
}

#navbar .menu-layer {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    position: fixed;

    left: 0;
    top: 0;
    z-index: 100;

    transform: translateX(-100%);

    transition: transform 0.3s ease-in-out;
}

#navbar .menu-layer.open {
    transform: translateX(0);
}

#navbar .menu-layer > .menu .div-quit {
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    text-align: end;
    padding-right: 15px;
}

#navbar .menu-layer > .menu-quit {
    width: 30%;
    height: 100%;
    background-color: black;
    opacity: 0%;
    border: none;
    
    transition: opacity 0.5s ease-in-out;
}

#navbar .menu-layer.open > .menu-quit {
    opacity: 50%;
}

#navbar .menu {
    display: flex;
    flex-direction: column;
    width: 70%;

    justify-content: center;
    align-items: center;

    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgb(105, 105, 105));
}

#navbar .menu-layer > .menu > .mn-logo {
    width: 90%;
    border-bottom: 3px solid;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

#navbar .menu > .mn-logo > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: white; 
}

#navbar .mn-btns {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
}

#navbar .mn-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#navbar .mn-btn > a {
    flex: 1;
    display: inline-block;

    width: 90%;
    padding: 7px 10px;
    gap: 10px;

    list-style: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    user-select: none;
    text-decoration: none;

    border-radius: 15px;
    outline: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;

    transition: background-color 0.3s ease;
}

#navbar .mn-btn:has(> .content.open) > a {
    background-color: white;
    color: black;
}

#navbar .mn-btn > .content {
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;

    width: 85%;

    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    gap: 10px;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid white;
}

#navbar .mn-btn > .content a {
    color: white;
    width: 100%;
    user-select: none;
    text-decoration: none;
}

#navbar .mn-btn > .content > li {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 10px;
}

#navbar .mn-btn > .content.open {
    display: flex;
}

@media (max-width: 1024px) {
    #navbar .nav-links {
        gap: 10px;
    }
}

@media (max-width: 780px) {
    #navbar .logo h1 {
        font-size: 28px;
    }

    #navbar .logo img {
        display: none;
    }

    #navbar .nav-links {
        display: none;
    }

    #navbar .menu-toggle {
        left: 0%;
        display: flex;

        align-items: center;
    }
}