* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #242424;
}

body > .divider {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

h1 {
    font-size: 45px;
}

section {
    position: relative;
    width: 100%;
}

section::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background-image: url(/assets/images/mindwave/marketing/banner-background-dark.webp);
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(0.4);
    z-index: -1;
}

.hero-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.hero-logo > img {
    width: 90%;

    object-fit: cover;
    object-position: center;
}

#stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    gap: 20px;
}

#stores > .title{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.stores-bar {
    display: flex;
    vertical-align: middle;
    align-items: center;

    border-radius: 15px;
    padding: 15px 15px;
    gap: 10px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

.stores-bar > .btn-store {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 55px;
    height: 55px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: transparent;

    padding: 10px;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;

    transition: background-color 0.3s ease;
}

.stores-bar > .btn-store:hover {
    background-color: white;
    outline: 2px solid white;
}

.stores-bar > .btn-store img{
    filter: brightness(0.5);
}

.stores-bar > .btn-store:hover img{
    filter: brightness(0.0);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.description > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    width: 60%;
    gap: 25px;
    padding: 50px;
    border-radius: 30px;

    font-size: 18px;

    color: white;
    outline: 3px solid white;
}

.description > div > p {
    text-transform: none;
}

.description > div > p > i,
.description > div > p > b {
    background-color: white;
    color: black;
}

.update {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 80px;
    gap: 80px;
}

.update > h1 {
    color: white;
    text-align: center;
}

.update > iframe {
    height: 478px;
    width: 850px;

    border-radius: 15px;

    outline: solid 10px white;
    box-shadow: 0px 0px 25px white;
}

.update > a {
    color: white;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
    padding: 80px;

    color: white;
}

.gallery > .main {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 35px;
}

.gallery > .main > .main_photo {
    outline: solid 6px white;
    box-shadow: 0px 0px 25px white;

    border-radius: 10px;
}

.gallery > .main > .more_photos {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.gallery > .main > .more_photos > a > img {
    display: block;
    line-height: 0;
    max-width: 200px;
    outline: solid 3px white;
    box-shadow: 0px 0px 15px white;

    border-radius: 5px;

    transition: transform 0.3s ease, outline-color 0.3s ease, filter 0.3s ease;
}

.gallery > .main > .more_photos > a > img:hover {
    transform: scale(1.10);
    outline: solid 3px rgba(255, 255, 255, 0.25);
    filter: brightness(0.5);
}

@media (max-width: 780px) {
    .hero-logo {
        height: 700px;
    }

    .hero-logo img {
        width: 320px;
    }
}